{% extends 'base.html.twig' %}

{% block header %}Symfony{% endblock %}

{% block content %}

    <h2>Questions</h2>

    {# @var question \App\Entity\PollsQuestion #}
    {% for question in questions %}
        <div class="question">
            <h3>{{ question.questionText }}</h3>

            {# @var choice \App\Entity\PollsChoice #}
            {% for choice in question.choices %}
                    <div class="choice">
                        <label for="choice_{{ choice.id }}">{{ choice.choiceText }}</label>
                        <input type="radio" name="choice" value="{{ choice.id }}" id="choice_{{ choice.id }}">
                    </div>
            {% endfor %}
        </div>

    {% endfor %}

{% endblock %}
